description "Aiohttp API"
start on runlevel [2345]
stop on runlevel [!2345]

respawn

exec start-stop-daemon --start --make-pidfile --pidfile /var/run/q_api.pid --exec /bin/bash /home/quantrade/api.sh >> /home/quantrade/logs//api_daemon.log 2>&1
