django
numpy
Cython
pandas
psycopg2
scipy
uvloop
sanic
clint
scikit-learn
matplotlib
mysqlclient
python-dotenv
django-rosetta
django-ckeditor
social-auth-core
social-auth-app-django
google-api-python-client
asyncpg
aoiklivereload
aoiklivereload
plotly
quandl
seaborn
uwsgi
django-redis-cache
Pillow
facebook-sdk
python-twitter
arch
hiredis
djangorestframework
raven
sanic_compress
