django
numpy
Cython
pandas
psycopg2
scipy
clint
scikit-learn
matplotlib
mysqlclient
python-dotenv
django-rosetta
django-ckeditor
social-auth-core
social-auth-app-django
google-api-python-client
plotly
quandl
seaborn
django-redis-cache
Pillow
facebook-sdk
python-twitter
arch
hiredis
djangorestframework
raven
