{% extends 'collector/base.html' %}
{% load i18n %}

{% block title %}{% trans "Contact us" %}{% endblock %}

{% block header %}
  <h1>{% trans "Contact us" %}</h1>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-6">
  <form action="{{ base_url }}/contact/" method="post">
    <div class="form-group">
   {% csrf_token %}
   <table>
    {{ form.as_table }}
   </table>
   <input type="submit"  class="btn btn-default" value="{% trans "Submit" %}" />
 </div>
  </form>
</div>
</div>
{% endblock %}
