{% extends 'collector/base.html' %}
{% load i18n %}

{% block title %}{% if not user.has_usable_password %}{% trans "Set password" %}{% else %}{% trans "Change password" %}{% endif %}{% endblock %}

{% block header %}
  {% if not user.has_usable_password %}
    <h1>{% trans "Set password" %}</h1>
  {% else %}
    <h1>{% trans "Change password" %}</h1>
  {% endif %}
{% endblock %}

{% block content %}
  {% if not user.has_usable_password %}
    <p style="color: red">{% trans "You have not defined a password yet." %}</p>
  {% endif %}
  <table>
  <form method="post">
    {% csrf_token %}
    {{ form.as_table }}
</table>
<button type="submit">{% trans "Save changes" %}</button>
</form>
{% endblock %}
