{% load static %}

<h4>Share the money!</h4>
<div class="row">
<div class="col-md-5">
<ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fquantrade.co.uk%2F&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="{% static "collector/images/Facebook.svg" %}"></a>&nbsp;</li>
  <li><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fquantrade.co.uk%2F&text=:%20https%3A%2F%2Fquantrade.co.uk%2F&via=QuantradeLtd" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="{% static "collector/images/Twitter.svg" %}"></a>&nbsp;</li>
  <li><a href="https://plus.google.com/share?url=https%3A%2F%2Fquantrade.co.uk%2F" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Google+" src="{% static "collector/images/Google+.svg" %}"></a>&nbsp;</li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fquantrade.co.uk%2F&title=&summary=&source=https%3A%2F%2Fquantrade.co.uk%2F" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img alt="Share on LinkedIn" src="{% static "collector/images/LinkedIn.svg" %}"></a>&nbsp;</li>
  <li><a href="mailto:?subject=&body=:%20https%3A%2F%2Fquantrade.co.uk%2F" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img alt="Send email" src="{% static "collector/images/Email.svg" %}"></a>&nbsp;</li>
</ul>
</div>
<div class="col-md-7">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- quantrade.co.uk_leaderboard -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2578395398126606"
     data-ad-slot="2645964630"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
